@model Neat_Burguer.Models.ViewModels.MenuViewModel
@{
    Layout = "_Layout";
}
<section class="menu3">
    <div>
        <h1>NUESTRO MENÚ</h1>
        @foreach (var m in Model.ListaClasificacion)
        {
            <h3>@m.Nombre</h3>
            @foreach (var h in m.ListaMenu)
            {
                if (h.Seleccionado)
                {
                    <h2 class="seleccionado">
                        <a href="~/Home/Menu/@h.Nombre.Replace(' ','-')">
                            <span>@h.Nombre</span> <span class="price">@h.Precio.ToString("c")</span>
                        </a>
                    </h2>
                }
                else
                {
                    <h2>
                        <a href="~/Home/Menu/@h.Nombre.Replace(' ','-')">
                            <span>@h.Nombre</span> <span class="price">@h.Precio.ToString("c")</span>
                        </a>
                    </h2>
                }
            }
        }
    </div>
    @if (Model.Hamburguesa != null)
    {
        <div>
            <img src="~/hamburguesas/@(Model.Hamburguesa.Id).png" />
            <p>@Model.Hamburguesa.Descripción</p>
        </div>
    }
</section> 