@model Neat_Burguer.Areas.Admin.Models.ViewModels.MenuViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutAdmi";
}

<section class="menu2">
    @foreach (var clasificacion in Model.Clasificaciones)
    {
        <h1>@clasificacion.Nombre.ToUpper()</h1>
        @foreach (var menu in clasificacion.Menus)
        {
            <div>
                <img src="~/hamburguesas/@(menu.Id).png" asp-append-version />
                <h1>@menu.Nombre.ToUpper()</h1>
                @if (menu.PrecioNuevo is not null)
                {
                    <h2><del>@menu.PrecioOriginal.ToString("c")</del><br />@menu.PrecioNuevo?.ToString("c")</h2>
                }
                else
                {
                    <h2>@menu.PrecioOriginal.ToString("c")</h2>
                }
                <p>
                    @menu.Descripcion
                </p>

                <span class="acciones">
                    <a href="~/admin/menu/editar/@(menu.Nombre.ToLower().Replace(" ", "-"))">Editar</a>
                    <a href="~/admin/menu/eliminar/@(menu.Nombre.ToLower().Replace(" ", "-"))">Eliminar</a>
                    @if (menu.PrecioNuevo is not null)
                    {
                        <a href="~/admin/promocion/quitar/@(menu.Nombre.ToLower().Replace(" ", "-"))">Quitar promoción</a>
                    }
                    else
                    {
                        <a href="~/admin/promocion/agregar/@(menu.Nombre.ToLower().Replace(" ", "-"))">Agregar promoción</a>
                    }
                </span>
            </div>
        }
    }
    <a href="~/admin/menu/agregar" class="fab">+</a>
</section>